@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Della+Respira&family=Lora:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white !important;
  overflow-x: hidden;
}

div.nav_bg div.row div.col-10 nav.navbar,
div.nav_bg div.row div.col-12 nav.navbar {
  background-color: #fff !important;
  font-family: 'Montserrat', sans-serif;
}

h2.new {
  font-family: 'Lora', serif;
  font-weight: 600;
}

h2.new span {
  font-family: 'Cinzel', serif;
  font-weight: 600;
  color: rgb(0, 84, 194) !important;
}

div.nav_bg div.row {
  margin-top: -5px;
  width: 90%;
}

div.nav_bg div.row div.col-10 nav.navbar a.navbar-brand,
div.nav_bg div.row div.col-12 nav.navbar a.navbar-brand {
  font-size: 28px;
  font-weight: 600;
  font-family: 'Cinzel', serif;
  color: rgb(18, 0, 82);
}

div.nav_bg div.row div.col-10 nav.navbar li.nav-item a.nav-link,
div.nav_bg div.row div.col-12 nav.navbar li.nav-item a.nav-link {
  font-size: 17px;
  margin-top: 2px;
  border-bottom: 1px solid rgb(254, 255, 255);
  transition: all 0.5s ease-out;
}

div.nav_bg div.row div.col-10 nav.navbar li.nav-item a.nav-link:hover,
div.nav_bg div.row div.col-12 nav.navbar li.nav-item a.nav-link:hover {
  color: rgb(0, 174, 255);
  /* margin-top: 3px; */
  border-bottom: 1px solid rgb(0, 68, 255);
  transition: all 0.5s ease-out;
}

div.nav_bg div.row div.col-10 nav.navbar li.nav-item a.nav-link:focus,
div.nav_bg
  div.row
  div.col-12
  nav.navbar
  li.nav-item
  a.nav-link:focus
  div.nav_bg
  div.row
  div.col-10
  nav.navbar
  li.nav-item
  a.nav-link:active,
div.nav_bg div.row div.col-12 nav.navbar li.nav-item a.nav-link:active {
  border-bottom: 1px solid rgb(0, 68, 255);
  color: rgb(18, 0, 82);
  transition: all 0.5s ease-out;
}

div.nav_bg div.row div.col-10 nav.navbar li.nav-item a.nav-link.activeLink,
div.nav_bg div.row div.col-12 nav.navbar li.nav-item a.nav-link.activeLink {
  border-bottom: 1px solid rgb(0, 68, 255);
  color: rgb(18, 0, 82);
  transition: all 0.5s ease-out;
}

div.home {
  height: 100vh;
}

div.home div.row div.one {
  display: flex;
  flex-direction: column;
  margin-top: 1%;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

div.home div.row div.one button.btn1 {
  width: 35%;
  outline: none;
  border: none;
  padding: 6px 8px;
  border-radius: 25px;
  background-color: #fff;
  color: rgb(0, 84, 194);
  text-transform: uppercase;
  border: 2px solid rgb(0, 84, 194);
  cursor: pointer;
  transition: all 0.3s ease-in;
}

div.home div.row div.one button.btn1:hover {
  background-color: rgb(0, 84, 194);
  color: white;
  text-transform: uppercase;
  border: 2px solid white;
}

div.home div.row div.one h2.head {
  color: black;
  font-family: 'Cinzel', serif;
  font-weight: 600;
}

div.home div.row div.one h2.main {
  color: rgb(0, 84, 194) !important;
  font-family: 'Cinzel', serif;
  font-weight: 600;
}

div.home div.row div.two {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

div.home div.row div.two img {
  height: 85vh;
  width: 100%;
}

div.old {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.old div.row div.col-lg-4 .col-md-6 .col-sm-12 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: red;
  justify-content: center;
}

div.forms form {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

div.forms form input {
  margin: 10px 0px;
}

div.middle {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

div.middle h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: black;
}

div.main .btns {
  display: inline-block;
  width: 90px;
  height: 90px;
  background-color: #f1f1f1;
  margin: 10px;
  border-radius: 50%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #3498db;
  overflow: hidden;
  position: relative;
}

div.main .btns i {
  line-height: 90px;
  font-size: 36px;
  transition: 0.2 linear;
}

div.main .btns:hover i {
  transform: scale(1.3);
  color: #f1f1f1;
}

div.main .btns::before {
  content: '';
  position: absolute;
  width: 120%;
  height: 120%;
  background-color: #3498db;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

div.main .btns:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

div.main .github:hover::before {
  background: black;
}

div.main .facebook:hover::before {
  background: #3b5999;
}

div.main .instagram:hover::before {
  background: #833ab4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #fcb045,
    #fd1d1d,
    #833ab4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #fcb045,
    #fd1d1d,
    #833ab4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

div.main .linkedin:hover::before {
  background: #0e76a8;
}

.contact-info {
  margin-top: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  position: relative;
  flex: 1;
  max-width: 300px;
  height: 100px;
  margin: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-out;
}

.icon {
  font-size: 32px;
  color: #e67e22;
  transition: 0.3s linear;
}

.card:hover {
  box-shadow: 0px 1px 21px 4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 1px 21px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 21px 4px rgba(0, 0, 0, 0.75);
}

.card:hover .icon {
  transform: scale(4);
  opacity: 0;
}

.card-content h3,
.card-content span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  opacity: 0;
}

.card-content h3 {
  top: 20px;
  text-transform: uppercase;
  color: #e67e22;
}

.card-content span {
  bottom: 20px;
  color: #5499c7;
  font-weight: 500;
}

.card:hover h3 {
  opacity: 1;
  top: 46px;
  transition: 0.3s linear 0.3s;
}

.card:hover span {
  opacity: 1;
  bottom: 46px;
  transition: 0.3s linear 0.3s;
}

footer {
  background-color: rgb(230, 230, 230);
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-top: -10px;
  margin-bottom: -16px;
}

div.desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.desc div.row {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

div.desc div.row div.col-sm-7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.desc div.row div.col-sm-5 {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

div.desc div.row div.col-sm-5 h3 {
  font-weight: 400;
  font-family: 'Della Respira', serif;
}

div.desc div.row div.col-sm-5 div.project {
  width: 35%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

div.desc div.row div.col-sm-5 div.project a i {
  font-size: 30px;
  color: black;
  transition: all 0.4s ease-in-out;
}

div.desc div.row div.col-sm-5 div.project i:hover {
  cursor: pointer;
  color: grey;
}

div.desc div.row div.col-sm-7 img {
  width: 80%;
  height: 100%;
  box-shadow: 10px 10px 14px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 14px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 14px -1px rgba(0, 0, 0, 0.75);
}

div.err {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.err h1 {
  font-family: 'Cinzel', serif;
}

div.err h3 {
  font-family: 'Lora', serif;
}

div.err img {
  height: 40%;
  width: 40%;
}

section.aboutMe {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section.aboutMe div.moreAboutMe {
  width: 80%;
  margin-top: 50px;
}

section.aboutMe div.moreAboutMe div.rows {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section.aboutMe div.moreAboutMe div.rows h2.new {
  margin-top: 50px;
}

section.aboutMe div.moreAboutMe div.rows p.more {
  font-family: 'Montserrat', sans-serif;
}

div.map {
  background: #83a4d4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #b6fbff,
    #83a4d4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #b6fbff,
    #83a4d4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

section.main {
  background-color: #000;
  background: #12c2e9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

section.main div.stats {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #000;
  background: #12c2e9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

section.main div.stats div.row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  background: #12c2e9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

section.main div.stats div.row div.col-md-4 {
  text-align: center;
  margin: 15px 0;
}

section.main div.stats div.row div.col-md-4 i {
  font-size: 40px;
}

section.main div.stats div.row div.col-md-4 h1 {
  font-family: 'Cinzel', sans-serif;
  font-size: 30px;
}

section.main div.stats div.row div.col-md-4 h4 {
  font-family: 'Lora', sans-serif;
}

div.skillSet {
  background-color: #000;
  background: url('https://images.unsplash.com/photo-1584269655525-c2ec535de1d0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1968&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* div.skills {
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0 auto;
}

div.skills div.wrapper {
  width: 0%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  animation: percent1 4s cubic-bezier(0.075, 0.82, 0.165, 1) 1s 1 normal forwards;
}

div.skills div.base {
  height: 8px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgb(224, 224, 224);
  display: flex;
  align-items: center;
}

div.skills div.base div.percent {
  width: 0%;
  background-color: cyan;
  height: 6px;
  border-radius: 9px;
  animation: percent1 4s cubic-bezier(0.075, 0.82, 0.165, 1) 1.2s 1 normal
    forwards;
} */

@media screen and (max-width: 900px) {
  .card {
    flex: 100%;
    max-width: 500px;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  div.err img {
    height: 60%;
    width: 60%;
  }
}

@media (min-width: 320px) and (max-width: 763px) {
  div.home div.row div.one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

@media (min-width: 395px) and (max-width: 768px) {
  section.main {
    margin-top: 340px;
  }
}

@media (min-width: 358px) and (max-width: 394px) {
  section.main {
    margin-top: 370px;
  }
}

@media (min-width: 320px) and (max-width: 357px) {
  section.main {
    margin-top: 410px;
  }
}

@media (min-width: 768px) and (max-width: 977px) {
  div.home div.row div.two img {
    width: 100%;
    height: 70vh;
  }
}

@media (min-width: 320px) and (max-width: 423px) {
  div.nav_bg div.row div.col-10 nav.navbar {
    width: 100%;
  }
}

@media (min-width: 440px) and (max-width: 540px) {
  div.home div.row div.two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  div.home div.row div.two img {
    width: 100%;
    height: 70vh;
  }
}

@media (min-width: 320px) and (max-width: 416px) {
  div.home div.row div.two img {
    width: 100%;
    height: 60vh;
  }
}

@media (min-width: 320px) and (max-width: 450px) {
  div.desc div.row div.col-sm-5 div.project {
    width: 55%;
  }
}

@media (min-width: 783px) and (max-width: 992px) {
  div.home div.row div.one button.btn1 {
    width: 50%;
    outline: none;
    border: none;
    padding: 6px 8px;
    border-radius: 25px;
    background-color: #fff;
    color: rgb(0, 84, 194);
    text-transform: uppercase;
    border: 2px solid rgb(0, 84, 194);
    cursor: pointer;
    transition: all 0.3s ease-in;
  }
}

@media (min-width: 520px) and (max-width: 782px) {
  div.home div.row div.one button.btn1 {
    width: 110%;
    outline: none;
    border: none;
    padding: 6px 0px;
    border-radius: 25px;
    background-color: #fff;
    color: rgb(0, 84, 194);
    text-transform: uppercase;
    border: 2px solid rgb(0, 84, 194);
    cursor: pointer;
    transition: all 0.3s ease-in;
  }
}

@media (min-width: 320px) and (max-width: 519px) {
  div.home div.row div.one button.btn1 {
    width: 110%;
    outline: none;
    border: none;
    padding: 6px 0px;
    border-radius: 25px;
    background-color: #fff;
    color: rgb(0, 84, 194);
    text-transform: uppercase;
    border: 2px solid rgb(0, 84, 194);
    cursor: pointer;
    transition: all 0.3s ease-in;
  }
}

@media (min-width: 936px) and (max-width: 1148px) {
  div.contact-info {
    margin-top: 250px;
  }
}

@media (min-width: 709px) and (max-width: 935px) {
  div.contact-info {
    margin-top: 300px;
  }
}

@media (min-width: 490px) and (max-width: 708px) {
  div.contact-info {
    margin-top: 400px;
  }
}

@media (min-width: 320px) and (max-width: 489px) {
  div.contact-info {
    margin-top: 650px;
  }
}

@keyframes percent {
  0% {
    width: 0%;
    transition: all 2s ease-in;
  }
  100% {
    width: 90%;
    transition: all 2s ease-in;
  }
}

@keyframes percent1 {
  0% {
    width: 0%;
    transition: all 2s ease-in;
  }
  100% {
    width: 80%;
    transition: all 2s ease-in;
  }
}

@keyframes percent2 {
  0% {
    width: 0%;
    transition: all 2s ease-in;
  }
  100% {
    width: 75%;
    transition: all 2s ease-in;
  }
}

@keyframes percent3 {
  0% {
    width: 0%;
    transition: all 2s ease-in;
  }
  100% {
    width: 60%;
    transition: all 2s ease-in;
  }
}

@keyframes percent4 {
  0% {
    width: 0%;
    transition: all 2s ease-in;
  }
  100% {
    width: 65%;
    transition: all 2s ease-in;
  }
}

@keyframes percent5 {
  0% {
    width: 0%;
    transition: all 2s ease-in;
  }
  100% {
    width: 55%;
    transition: all 2s ease-in;
  }
}

@keyframes percent6 {
  0% {
    width: 0%;
    transition: all 2s ease-in;
  }
  100% {
    width: 50%;
    transition: all 2s ease-in;
  }
}

@keyframes percent7 {
  0% {
    width: 0%;
    transition: all 2s ease-in;
  }
  100% {
    width: 75%;
    transition: all 2s ease-in;
  }
}

@keyframes percent8 {
  0% {
    width: 0%;
    transition: all 2s ease-in;
  }
  100% {
    width: 85%;
    transition: all 2s ease-in;
  }
}

@keyframes percent9 {
  0% {
    width: 0%;
    transition: all 2s ease-in;
  }
  100% {
    width: 50%;
    transition: all 2s ease-in;
  }
}

@keyframes percent10 {
  0% {
    width: 0%;
    transition: all 2s ease-in;
  }
  100% {
    width: 70%;
    transition: all 2s ease-in;
  }
}

@keyframes percent11 {
  0% {
    width: 0%;
    transition: all 2s ease-in;
  }
  100% {
    width: 65%;
    transition: all 2s ease-in;
  }
}

@keyframes percent12 {
  0% {
    width: 0%;
    transition: all 2s ease-in;
  }
  100% {
    width: 45%;
    transition: all 2s ease-in;
  }
}

@keyframes percent13 {
  0% {
    width: 0%;
    transition: all 2s ease-in;
  }
  100% {
    width: 50%;
    transition: all 2s ease-in;
  }
}

@keyframes percent14 {
  0% {
    width: 0%;
    transition: all 2s ease-in;
  }
  100% {
    width: 45%;
    transition: all 2s ease-in;
  }
}
